<!DOCTYPE html>
<html>
	<head>
		<title>
			customerhome
		</title>
		<link rel="stylesheet" type="text/css" th:href="@{/customerhome.css}">
		
	</head>
	<body>
		
		<div>
			<h1>Customer-Page</h1>
		
		<form action="pay">
			<input type="submit" value="GET PREMIUM">
			</form>
			<br>
			<form action="logout">
			<input type="submit" value="LOGOUT">
			</form>
			
			
	<!--	<form action="playsongs" method="get">
			<input type="submit" value="Play-Songs">
		</form>-->
		</div>
		
	</body>
</html>